services:
  backend:
    image: ghcr.io/${{ github.repository }}:${RELEASE_VERSION:-latest}
    container_name: glados-backend
    environment:
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - RELEASE_VERSION=${RELEASE_VERSION}
      - WEATHER_TOKEN=${WEATHER_TOKEN}
      - ADMIN_IDS=${ADMIN_IDS}
