name: Deploy to Production
on:
  push:
    branches:
      - release/prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: cd-prod
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Extract version from commit message
        id: get_version
        run: |
          COMMIT_MSG="${{ github.event.head_commit.message }}"
          if [[ "$COMMIT_MSG" =~ \[RELEASE-v([0-9]+\.[0-9]+(\.[0-9]+)?)\] ]]; then
            VERSION="${BASH_REMATCH[1]}"
            echo "Найдена версия в commit: $VERSION"
          else
            VERSION="latest"
            echo "Используется latest"
          fi
          echo "version=$VERSION" >> $GITHUB_ENV

      - name: Deploy to Production Server
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          envs: TELEGRAM_TOKEN,WEATHER_TOKEN,RELEASE_VERSION,ADMIN_IDS
          script: |
            cd ${{ secrets.PROD_APP_PATH }}
            git pull origin release/prod
            docker compose pull backend
            docker compose up -d

      - name: Notify Deployment Success
        uses: appleboy/telegram-action@v1.0.1
        with:
          to: ${{ secrets.TELEGRAM_CHAT_ID }}
          token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          format: markdown
          message: |
            ✅ *Deployment Successful*

            *Version*: `v${{ env.version }}`
            *Environment*: Production
            Application has been deployed successfully!
