name: Deploy to Production

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Номер релиза (25.5, 25.5.1)'
        required: true

jobs:
  release:
    runs-on: ubuntu-latest
    environment: cd-prod
    steps:

      - name: Debug secrets (REMOVE IN PRODUCTION!)
        run: |
          echo "GIT_USER_NAME: ${{ secrets.GIT_USER_NAME }}"
          echo "GIT_USER_EMAIL: ${{ secrets.GIT_USER_EMAIL }}"
          echo "PROD_HOST: ${{ secrets.PROD_HOST }}"
          echo "PROD_USERNAME: ${{ secrets.PROD_USERNAME }}"
          echo "PROD_APP_PATH: ${{ secrets.PROD_APP_PATH }}"
          # Не выводим SSH_PRIVATE_KEY из соображений безопасности!

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Create Git tag
        run: |
          git config user.name "${{ secrets.GIT_USER_NAME }}"
          git config user.email "${{ secrets.GIT_USER_EMAIL }}"
          git tag -a "v${{ github.event.inputs.version }}" -m "Release v${{ github.event.inputs.version }}"
          git push origin "v${{ github.event.inputs.version }}"

      - name: Deploy to production
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ${{ secrets.PROD_APP_PATH }}
            git fetch --tags
            git checkout "v${{ github.event.inputs.version }}"
            docker compose build backend
            docker compose up -d