name: CI tests

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**/*.md'
      - '**/*.yml'
      - '**/*.yaml'
  push:
    branches:
      - master
    paths-ignore:
      - '**/*.md'
      - '**/*.yml'
      - '**/*.yaml'
  workflow_dispatch:

jobs:
  tests:
    name: run tests
    timeout-minutes: 20
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Build backend image
        run: docker build -t pytest-app .

      - name: Run tests
        env:
          COVERAGE_FILE: /tmp/.coverage
        run: |
          docker run --rm pytest-app pytest --cov=. --cov-report=xml

      - name: Upload coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: .coverage_${{ github.run_id }}
          path:  /tmp/.coverage
          retention-days: 1
          include-hidden-files: true

  coverage:
    name: tests coverage
    runs-on: ubuntu-latest
    needs: tests
    if: |
      needs.tests.result == 'success' &&
      needs.tests.conclusion == 'success'
    permissions:
      pull-requests: write
      contents: write
      actions: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Download coverage artifacts
        uses: actions/download-artifact@v5
        with:
          name: .coverage_${{ github.run_id }}

      # https://github.com/marketplace/actions/python-coverage-comment
      - name: Coverage comment
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Store Pull Request comment to be posted
        uses: actions/upload-artifact@v4
        if: steps.coverage_comment.outputs.COMMENT_FILE_WRITTEN == 'true'
        with:
          name: python-coverage-comment-action
          path: python-coverage-comment-action.txt
